.section.shengage-header-container{      
    padding: 0;
}

.shengage-header{
    background-color: #000;
    color: #fff;   
}

.shengage-header h2{
    color: #fff;
    position: absolute;
    top : 50px;    
}

@media screen and (width < 900px) {
    .shengage-header h2{
        padding-left: 10px;
        line-height: 35px;
        font-size: 36px;     
    }
}