.columns > div {
  display: flex;
  flex-direction: column;
}

.columns h2{
  margin: 0;
}

.columns img {
  width: 100%;
}

.columns>div>.columns-img-col img {
  display: block;
}

.columns #shengage {
  .icon {
    height: auto;
    width: 100%;
  }

  img {
    width: 250px;
  }
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.section.columns-container{
  background-image: url("../../assets/background-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.showslide{
  display: block;
}

.hideslide{
  display: none;
}