.columns > div {
  display: flex;
  flex-direction: column;
}

.columns h2{
  margin: 0;
}

.columns img {
  width: 100%;
}

.col-1 img{
  display: none;
  aspect-ratio: 4/3;
  object-fit: contain;
}

.columns>div>.columns-img-col img {
  display: block;
}

.columns>div>.columns-img-col video {
 background: transparent;
}

.columns #shengage {
  .icon {
    height: auto;
    width: 100%;
    margin-top: 6rem;
  }

  img {
    width: 250px;
  }
}

.columns > div > div {
  order: 1;
}

.columns > div > .col-1 {
  background-image: url("../../assets/back-bg.png");
  background-repeat: no-repeat;
  order: 0;
  padding: 6rem 0.5rem 3rem;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.section.columns-container{
  background-image: url("../../assets/background-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.dot-container {
  margin-top: 1rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  .dot {
    width: 10px;
    height: 10px;
    border: 1px solid var(--white);
    border-radius: 100%;
    cursor: pointer;

    &.active {
      background-color: var(--white);
    }
  }
}

.showslide{
  display: block;
}

.hideslide{
  display: none;
}

.col-1 img.showslide {
  opacity: 1;
  z-index: 1;
  display: block;
}
