.section.shengage-events-container{
    padding-bottom: 2rem;
}

.eventscontainer{
    display: flex;
    column-gap: 1rem;

    .button-container{
        text-align: right;
        
        a , .button{
            border-radius: 10px;

            &::after {
                    content: url('../../assets/whitarrow.svg');
                    display: inline-block;
                    margin-left: 2px;
                    scale: 0.7;
                    position: relative;
                    top: 2px;
                }
        }
    }
 
    p[class^='text'] {
        font-size: 18px;
    }
}

.eventscontainer .col-0,
.eventscontainer .col-1{
    width: 50vw;   
}

.bluecard .eventscontainer .col-0{
    order: 2;
 }

.bluecard .eventscontainer .col-1{
   order: 1;
}



.col-1 ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;  
}

.col-1 ul li img{
    display: inline-block;
   width:285px;
}

.eventscontainer .col-0 .textfield1{
    font-size: 28px;
    color: #0077B5;
    margin: 0;
}

.textfield1::before{
    content: '';
    display: block;
    height: 4px;
    width: 160px;
    background-color: #0077B5;
}

.card{    
    float: left;
    margin: 10px;
    color: #fff;
    text-align: center;
    width: 250px;
    border-radius: 10px;
    height: 230px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card h3,
.card p{
margin: 0;
padding: 0;
}

.card h3{
    font-size: 80px;
    line-height: 85px;
}

.card p {
    font-size: 30px;
    line-height: 32px;
}

table.card {
    zoom: 0.7;
}

.impactcard4{
    background-color: #b80d00;
    min-width: 220px;
    margin-left: 0;
}

.impactcard5{
    background-color: #eb1000;
    min-width: 227px;
}

.impactcard6{
    min-width: 260px;
    background-color: #ec584c;
}

.redcard p.textfield3{
    font-size: 2rem;
    margin-bottom: 0;
}

.bluecard{
    clear: both;

    .impactcard6{
        background-color: var(--blue-text);
        width: 227px;
        margin-left: 0;
    }

    .impactcard7{
        background-color: #31a6ff;
        width: 255px;
    }

    p.textfield5{
        font-size: 2rem;
        margin-bottom: 0;
    }
}

/* CSS Styles for work mentor program */
.section.shengage-events-container:has(.work-mentor){
    background-color: #F6EDF6;
    padding-top: 2rem;
}

.work-mentor .eventscontainer{
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    gap: 1rem;
}

.work-mentor .eventscontainer .col-0, .work-mentor .eventscontainer .col-1{
    width: 90vw;
}


.work-mentor .col-1 ul li strong{
    font-size: var(--heading-font-size-xl);
}

.work-mentor .col-1 ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    border: none;
    position: relative;
  }

  .work-mentor .col-1 ul::before,
.work-mentor .col-1 ul::after {
    content: '';
    position: absolute;
    background-color: #ccc;
}

.work-mentor .col-1 ul::before {
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
}

.work-mentor .col-1 ul::after {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
}

  .work-mentor .col-1 ul li {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top:0; 
    font-size: 20px;
    align-self: start;
}

.work-mentor .eventscontainer .col-0 .textfield1{
    color:black;
    font-size: var(--heading-font-size-m);
}

.work-mentor .eventscontainer .col-0 .textfield1::before{
    display:none;
}

#about{
    text-align: center;
    font-size: var(--heading-font-size-l);
}
  

@media(width > 768px){

    .work-mentor .eventscontainer .col-0 {
        width: 83vw;
    }

    .work-mentor .eventscontainer .col-0 .textfield1{
        padding-right: 60px;
    }

    .work-mentor .eventscontainer .col-1{
        width: 40vw;
        padding-right: 30px;
    }

    .work-mentor .eventscontainer{
        flex-direction: row;
    }

    .work-mentor .eventscontainer{
        gap: 0;
    }



}