main .section.reaction-container {
    padding: 20px 0;
    border-top: 1px solid #CCCCCD;
    border-bottom: 1px solid #CCCCCD;
    max-width: var(--gutter-width);
    margin: 0 auto;
  }
  
  /* Reaction Icons Container */
  .reaction-container p {
    font-size: 18px;
    margin: 0 0 15px;
    text-align: center;
  }
  
  .reaction-container div:nth-child(2)>div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reaction-container div:nth-child(2) div p {
    width: 60px;
    height: 60px;
    border: 1px solid #CCCCCD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    flex-direction: column;
  }
  
  .reaction-container div:nth-child(2) div p:hover, 
  .reaction-container div:nth-child(2) div p.active {
    background-color: #EB1000;
  }
  
  .reaction-container div:nth-child(2) div p .icon {
    opacity: 0.3;
    height: 30px;
    width: 30px;
  }

  .reaction-container div:nth-child(2) div p:hover .icon, 
  .reaction-container div:nth-child(2) div p.active .icon {
    opacity: 1;
  }

  .reaction-container .reaction-count {
    font-size: 18px;
    color: #B1B1B1;
    line-height: normal;
  }

  .reaction-container div:nth-child(2) div p:hover .reaction-count, 
  .reaction-container div:nth-child(2) div p.active .reaction-count {
    color: #FCE100;

  }
  
  /* Info Message */
  .reaction-container .info {
    padding: 10px 0;
  }

  .reaction-container div:nth-child(2) div p:hover {
    color: #fff;
  }
  
  @media (width >= 600px) {
    .main .section.reaction-container {
      padding: 40px 0;
    }
  
    .reaction-container p {
      font-size: 27px;
      margin: 0 0 23px;
    }
  
    .reaction-container div:nth-child(2) div p {
      width: 96px;
      height: 96px;
    }
    
    .reaction-container div:nth-child(2) div p .icon {
      height: 40px;
      width: 40px;
    }

    .reaction-container .reaction-count {
      font-size: 24px;
    }
  
    }