.section.video-container{
    position: relative;
    padding: 0;

    .video-wrapper{
        max-width: unset;
        overflow: hidden;
    }

.video {
    position: relative;
    width: 100vw;
    height: 660px;
    display: flex;
    justify-content: center;
}

.video .video-background {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 15%;
}

.video .video-overlay {
    position: absolute;
    bottom: 0;
    width: 80%;
    height: auto;
    background-color: rgba(112 112 112 / 50%);
    color: #fff;
    padding: 20px;
    font-size: 24px;
}

}