.section.blockquote-container{
    padding: 0 32px;
}

.blockquote div{
    padding: 0 3rem;
}

.blockquote div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    
}

.blockquote img{
    height: 100px;
}

