.section.blockquote-container{
    padding: 0 32px;  
}

.blockquote.block{
border: 1px solid #707070;
    border-radius: 18px;
    padding: 32px;
    box-shadow: inset 0 3px 6px #00000029;
    font-size: 40px;
    text-align: center;
    background: rgb(131 58 180);
    background: linear-gradient(200deg, rgb(131 58 180 / 100%) 0%, rgb(253 29 29 / 100%) 50%, rgb(252 176 69 / 100%) 100%);
    color: #fff;

}

.story-text {
    p {
        font-size: 27px;
    }
}

.blockquote div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

    p {
        margin: 0;
    }

}

.red-text {
    .button-container {
            p {
                    color: #eb1000;
                    font-size: 34px;
                    font-weight: bold;
                    text-align: center;
            
                }

        a {
            color: #eb1000;
            background-color: transparent;
            text-decoration: underline;
            text-wrap: wrap;

            &:hover {
                    text-decoration: underline;
                    color: #4390fe;
            
                }
        }
    }
    
}

.blockquote img{
    height: 100px;
}
