main .section.comment-container {
  padding: 0;
  border: 1px solid #CCCCCD;
  border-radius: 10px;
  max-width: var(--gutter-width);
  margin: 0 auto;
  margin-top: 45px;
}

.input-section{
  padding: 30px 40px;
}

.comment-input {
  display: flex;
  align-items: flex-start;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  background: #e8e1ef;
}

textarea {
  flex: 1;
  padding: 15px 15px 10px;
  border-radius: 15px;
  border: 1px solid #505050;
  color: #505050;
  resize: none;
  width: calc(100% - 100px);
}
.main-comment {
  padding: 20px;
}
.post-comment, .comment-actions .main-comment {
  margin-left: 10px;
  padding: 10px 24px;
  background-color: #CACACA;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
  max-width: 300px;
}

.post-comment:hover, .post-comment:focus {
  background-color: #918d8d;
}

.comments-section {
  padding: 0 40px;
  border-top: 1px solid #CCCCCD;
}

.comment-items {
  border-bottom: 1px solid #CCCCCD;
  padding: 15px 0;
}

.comment-items .comment-items {
  padding-left: 140px;
  border: unset;
}

.comment-details {
  display: flex;
  align-items: flex-start;
}

.comment-body {
  border-radius: 15px;
  flex: 1;
  position: relative;
  background: #f2f2f2;
  padding: 15px;
}

.comment-body .author {
 position: relative;
 margin: 0;
 font-size: 18px;
 font-weight: 600;
}

.comment-body .comment-text {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 400;
}

.comment-body .author span {
  color: #959595;
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
}

.comment-body .author span::before {
  content: '';
  width: 4px;
  height: 4px;
  background-color:#959595;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.comment-body .like {
  position: absolute;
  right: 15px;
  top: 15px;
}

.right {
  text-align: right;
}

.comment-actions {
  margin-top: 15px;
  margin-left: 65px;
}

.comment-actions button {
  background: none;
  border: none;
  color: #959595;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  padding: 0 5px;
  margin: 0;
}

.comment-actions .liked {
  color: #0a66c2;
 }

.reply-form {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.loader {
  width: 80px;
  margin: 0 auto;
  display: block;
}