main .section.comment-container {
  padding: 0;
  border: 1px solid #CCCCCD;
  border-radius: 10px;
  max-width: var(--gutter-width);
  margin: 25px 10px 0;
}

.input-section {
  padding: 15px 20px;
}

.comment-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  background: #e8e1ef;
}

textarea {
  flex: 1;
  padding: 15px 15px 10px;
  border-radius: 15px;
  border: 1px solid #505050;
  color: #505050;
  resize: none;
  width: calc(100% - 100px);
}

.main-comment {
  padding: 20px;
}

.submit-comment {
  margin: 0;
  padding: 5px 15px;
  background-color: #CACACA;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 12px;
  width: fit-content;
  max-width: 300px;
}

.submit-comment:hover, .submit-comment:focus {
  background-color: #918d8d;
}

.comments-section {
  padding: 0 15px;
  border-top: 1px solid #CCCCCD;
}

.comment-items {
  border-bottom: 1px solid #CCCCCD;
  padding: 15px 0;
}

.comment-items:last-child {
  border-bottom: none;
}

.comment-items .comment-items {
  padding-left: 24px;
  border: unset;
}

.comment-details {
  display: flex;
  align-items: flex-start;
}

.comment-body {
  border-radius: 15px;
  flex: 1;
  position: relative;
  background: #f2f2f2;
  padding: 15px 25px 15px 15px;
}

.comment-body .author {
 position: relative;
 margin: 0;
 font-size: 18px;
 font-weight: 600;
}

.comment-body .comment-text {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 400;
}

.comment-body .author span {
  color: #959595;
  margin-left: 0;
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.comment-body .author span::before {
  content: none;
  width: 4px;
  height: 4px;
  background-color:#959595;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.comment-body .like {
  position: absolute;
  right: 5px;
  top: 18px;
}

.comment-body .like .icon {
  height: 20px;
  width: 20px;
}

.align-right {
  text-align: right;
}

.comment-actions {
  margin-top: 10px;
  margin-left: 65px;
}

.comments-section .comment-actions {
  margin-top: 5px;
}

.comment-actions .interaction-button {
  background: none;
  border: none;
  border-radius: 5px;
  color: #959595;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  padding: 2px 10px;
  margin: 0;
}

.comment-actions .interaction-button:hover {
  background: #f2f2f2;
}

.comment-actions .liked {
  color: #0a66c2;
 }

.reply-form {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.reply-form textarea {
  flex: unset;
}

.reply-form .submit-reply {
  margin: 5px 0 0;
  padding: 4px 10px;
}

.loader {
  width: 80px;
  margin: 0 auto;
  display: block;
}

.comment-info {
  margin: 5px 0 0 65px;
  width: 100%;
  color: #585858;
}

@media (width >= 600px) {
  main .section.comment-container {
    margin: 45px auto; 
  }

  .input-section {
    padding: 30px 40px 15px;
  }
  
  .submit-comment {
    margin: 0;
    padding: 10px 24px;
    font-size: 16px;
  }

  .comments-section {
    padding: 0 40px;
  }

  .comment-items .comment-items {
    padding-left: 65px;
    border: unset;
  }
  
  .comment-body .like {
    right: 15px;
    top: 15px;
  }

  .comment-body .like .icon {
    height: 24px;
    width: 24px;
  }

  .comment-body .author span {
    display: inline;
    margin-left: 10px;
    font-size: 16px;
  }
  
  .comment-body .author span::before {
    content: '';
  }

  .comment-actions {
    margin-top: 15px;
  }

  .reply-form .submit-reply {
    margin: 15px 0 0;
    padding: 10px 24px;
  }

  .comment-actions .interaction-button {
    font-size: 16px;
  }

}