main .section.comment-container {
  padding: 0;
  border: 1px solid #CCCCCD;
  border-radius: 10px;
  max-width: var(--gutter-width);
  margin: 25px 10px 0;
}

.comment-area .input-section {
  padding: 15px 20px;
}

.comment-area .comment-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.comment-area .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  background: #e8e1ef;
}

.comment-area .main-comment,
.comment-area .reply-comment {
  padding: 20px;
  width: calc(100% - 110px);
  border-radius: 15px;
  border: 1px solid #505050;
  color: #505050;
  overflow-y: auto;
  outline: none;
}

.comment-area .main-comment[placeholder]:empty::before,
.comment-area .reply-comment[placeholder]:empty::before {
  content: attr(placeholder);
  color: #aaa;
}

.comment-area .submit-comment {
  margin: 0;
  padding: 5px 15px;
  background-color: #CACACA;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 12px;
  width: fit-content;
  max-width: 300px;
}

.comment-area .submit-comment:hover, .comment-area .submit-comment:focus {
  background-color: #918d8d;
}

.comment-area .comments-section {
  padding: 0 15px;
  border-top: 1px solid #CCCCCD;
}

.comment-area .comment-items {
  border-bottom: 1px solid #CCCCCD;
  padding: 15px 0;
}

.comment-area .comment-items:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.comment-area .comment-items .comment-items {
  padding-left: 24px;
  border: unset;
}

.comment-replies {
  padding-bottom: 15px;
}

.comment-replies:last-child {
  padding-bottom: 0;
}

.comment-area .comment-details {
  display: flex;
  align-items: flex-start;
}

.comment-area .comment-body {
  border-radius: 15px;
  flex: 1;
  position: relative;
  background: #f2f2f2;
  padding: 15px 25px 15px 15px;
}

.comment-area .comment-body .author {
 position: relative;
 margin: 0;
 font-size: 18px;
 font-weight: 600;
}

.comment-area .comment-body .comment-text {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 400;
}

.comment-area .comment-body .author span {
  color: #959595;
  margin-left: 0;
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.comment-area .comment-body .author span::before {
  content: none;
  width: 4px;
  height: 4px;
  background-color:#959595;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.comment-area .comment-body .like {
  position: absolute;
  right: 5px;
  top: 18px;
}

.comment-area .comment-body .like .icon {
  height: 20px;
  width: 20px;
}

.comment-area .comment-actions {
  margin-top: 10px;
  margin-left: 65px;
}

.comment-area .comment-action-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #959595;
}

.comment-area .comment-action-item:last-child {
  border-right: 1px solid transparent;
}

.comment-area .comment-action-count {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0;
  padding-right: 10px;
  color: #959595;
}

.comment-area .comment-action-count img {
  width: 18px;
  margin-right: 5px;
}

.comment-area .comment-action-count::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color:#959595;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 5px;
}

.comment-area .comments-section .comment-actions {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.comment-area .comment-actions .interaction-button {
  background: none;
  border: none;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin: 2px 10px;
  padding: 2px;
  border-radius: unset;
}

.comment-area .comment-actions .interaction-button:hover {
  background: #f2f2f2;
  border-radius: 5px;
}



.comment-area .comment-actions .liked {
  color: #0a66c2;
 }

 .comment-area .reply-form {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.comment-area .reply-form textarea {
  flex: unset;
}

.comment-area .reply-form .submit-reply {
  margin: 5px 0 0;
  padding: 4px 10px;
}

.comment-area .comment-info {
  margin: 5px 0 0 65px;
  width: 100%;
  color: #585858;
}

@media (width >= 600px) {
  main .section.comment-container {
    margin: 45px auto; 
  }

  .comment-area .input-section {
    padding: 30px 40px;
  }
  
  .comment-area .submit-comment {
    margin: 0;
    padding: 10px 24px;
    font-size: 16px;
  }

  .comment-area .comments-section {
    padding: 0 40px 15px;
  }

  .comment-area .comment-items .comment-items {
    padding-left: 65px;
    border: unset;
    padding-bottom: 0;
  }
  
  .comment-area .comment-body .like {
    right: 15px;
    top: 15px;
  }

  .comment-area .comment-body .like .icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
  }

  .comment-area .comment-body .author span {
    display: inline;
    margin-left: 10px;
    font-size: 16px;
  }
  
  .comment-area .comment-body .author span::before {
    content: '';
  }

  .comment-area .comment-actions {
    margin-top: 15px;
  }

  .comment-area .reply-form .submit-reply {
    margin: 15px 0 0;
    padding: 10px 24px;
  }

  .comment-area .comment-actions .interaction-button {
    font-size: 16px;
  }

}


/* Reactions */

.comments-reaction {
  display: inline-block;
  position: relative;
}

.reaction-button {
  background: none;
  padding: 0 4px;
  margin: 0;
  font-size: 24px;
  line-height: normal;
}

.reaction-button:hover, .reaction-button:focus {
  background-color: #f2f2f2;
}

.reaction-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0 0 0 / 20%);
  z-index: -1;
  bottom: 200px;
  right: 0;
  border-radius: 5px;
  transition: all .3s ease;
  opacity: 0;
  visibility: hidden;
  background: #f2f2f2;
}

.reaction-panel.show {
  opacity: 1;
  bottom: 40px;
  z-index: 1;
  visibility: visible;
}

.reaction-tab-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reaction-tab-link {
  margin: 0;
  background: none;
  color: black;
  font-size: 16px;
  border-bottom: 2px solid #f2f2f2;
  border-radius: unset;
}

.reaction-tab-link:hover, .reaction-tab-link:focus {
  background: none;
  border-bottom: 2px solid #abafb4;
}

.reaction-tab-link.active {
  border-bottom: 2px solid #0a66c2;
}

.reaction-tab-item {
  box-shadow: 0 8px 16px 0 rgba(0 0 0 / 20%);
  z-index: -1;
  border-radius: 5px;
  transition: all .3s ease;
  opacity: 0;
  visibility: hidden;
  background: #f2f2f2;
  min-height: 400px;
  min-width: 344px;
  display: none;
}

.reaction-tab-item.active {
  opacity: 1;
  z-index: 1;
  visibility: visible;
  display: block;
}

.gif-picker-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gif-search {
  margin: 8px 0;
  width: calc(100% - 60px);
  padding: 8px 10px;
  border-radius: 7px;
  border: 1px solid #abafb4;
}

.gif-search:focus, .gif-search:focus-visible {
  border: 1px solid #abafb4;
}

.gif-results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.comment-area .gif-results img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
