.section.programdetail-header-container{
    background-color: #f4f4f6;
    border: 1px solid transparent;
}

.programdetail-header{
    background-color: #f4f4f6;
    color: #fff;   
}

.programdetail-header img{
    max-width: 340px;
    box-shadow: 10px 10px var(--link-color);
}

.programdetail-header h2{
    color: #fff;
    position: absolute;
    top : 50px;
    
}

.programdetail-header p {
    position: relative;
}

.programdetail-header .row-0 p{
    color: #000;
  
}

.programdetail-header .row-1{
    background-color: #f4f4f6;   
}

.programdetail-header .row-1 img{
    position: absolute;
    top: -179px;
    left: 9px;
}

.programdetail-header .row-1 div {
    display: flex;
    padding: 1rem 2.5rem 2.5rem 0;
    color: black;
}

.programdetail-header.bigger-image {
    .row-1 {
        &>div {
            display: flex;
            padding: 1rem 2.5rem 2.5rem 0;
            color: var(--black);

            h2{
                max-width: 70%;
                position: static;
                width: 55%;
                flex-shrink: 0;
                color: var(--black);
            }

            p{
                    max-width: 100%;
            width: 100%;
            }

            picture {
                width: 100%;
                display: block;
            }

            img {
                max-width: 757px;
                width: 100%;
                height: auto;
                aspect-ratio: 757 / 396;
                position: absolute;
                top: -89px;
                left: 9px;
            }
        }
    }
}


.programdetail-header .row-1 div p:first-of-type{
    max-width: 70%;
}

/* CSS Styles for work mentor program */

@media (width > 700px) {
    .work-mentor.programdetail-header .row-1 {
        position: relative; 
        margin-top: -286px; 
        background-color: transparent;
    }

    .work-mentor.programdetail-header h2{
        top: 160px;
    }

    .programdetail-header.bigger-image {
        & .row-1 {
            & > div {
                h2 {
                    color: white;
                    font-size: 40px;
                }
            }
        }
    }
}