.head-image-wrapper {
    position: relative;
    top: -60px;

    h2,
    h1 {
        position: absolute;
        max-width: 537px;
        width: 237px; 
        top: 0;
        left: 50px;
        margin: 0;

        @media (width >=900px) {
            width: 537px;
            top: 75px;
            left: 50px;
        }
    }

    .white-heading {
        h2,
        h1 {
            color: var(--white);
        }
    }

    .head-image.block {
        background-color: var(--link-color);
        border-radius: 10px;

        img{
            border-radius: 10px;
        }
        
        p{
            margin: 0;
        }

        &>div {
            position: relative;
            top: -10px;
            right: 20px;
        }
    }
}

.section.head-image-container {
    background-color: #f4f4f6;

    .default-content-wrapper{
        p{
            margin-top: 0;
        }
    }
}