footer {
  clear: both;
  padding: 0.2rem;
  background-color: var(--black);
  font-size: var(--body-font-size-s);
  color: var(--white);
}

footer .footer {
  max-width: var(--gutter-width);
  margin: auto;
  padding: 10px;
}

footer .footer p {
  margin: 0;
}
