.section.footnote-container{
    padding-bottom: 10px;
}

.footnote-wrapper{
    background-color: #EB1000;
    padding: 10px 24px;
    border-radius: 10px;
}

.footnote{
    p{  
        font-family: var(--body-font-family);
        color: #fff;
        font-size: 28px;
        font-weight: normal;
    }   
}

