.section.stories-container {
    background-image: url('../../assets/background-footer.png');
    background-position: -905px 0;
}

.stories>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: fit-content;
    column-gap: 25px;
}

.stories.block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    /* Centering elements */
}

.stories>ul>li {
    box-shadow: 1px 3px 9px 0 rgb(0 0 0 / 42%);
    background-color: var(--white);
    color: var(--black);
    border-radius: 20px;
    max-width: 486px;
    min-width: 380px;
    width: 380px;
}

.stories .stories-story-body {
    position: relative;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 91%;

    blockquote{
        font-size: 17px;
        position: absolute;
        top:-66px;
        margin: 0;
        right: -17px;
        color: #fff;
        min-width: 150px;
        max-width:fit-content;
        height: 50px;
        padding-right: 10px;
        background-color: #2680EB;
        display: flex;
        justify-content: center;
        align-items: center;        
    }

    blockquote::before{
        content: url("../../assets/calendar.svg");
        display: inline-block;
        padding: 0 18px;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap:15px;

        li{
            height: 20px;

            &:first-child {
                font-size: 36px;
                font-weight: bold;
                height: 30px;
               color: var(--link-color);
                }
            
            &:nth-child(2) {
                font-size: 26px;
                color: var(--link-color);
                }
            
                &:nth-child(3) {
                  font-size: 27px;
                  margin-top: 40px;
                }
        }
        
    }

    a{
        position: absolute;
        top: initial;
        left: initial;
        width: 100%;
        height: 100%;
        z-index: 1;
        text-decoration: none;
    }

    div:has(svg){
            align-self: flex-end;
    }

    svg{
        cursor: pointer;
    }
}

.stories .stories-story-image {
    line-height: 0;
}

.stories .stories-story-body>*:first-child {
    margin-top: 0;
}

.stories>ul>li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 20px;
}


.stories .dot-container {
    margin-top: 1rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    .dot{
        width: 10px;
        height: 10px;
        border: 1px solid var(--black);
        border-radius: 100%;
        cursor: pointer;

        &.active {
            background-color: var(--black);
        }
    }
}

ul.story-container {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease;

    /* overflow: auto hidden; */
    scroll-snap-type: x mandatory;
    flex: 0 0 calc(100% - 16px);
    padding: 20px 0;
}

.story-container::-webkit-scrollbar {
    display: none;
}


li.story-slide {
    min-width: 220px;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}